@charset "utf-8";
/* 초기화 */
* {margin: 0; padding: 0; list-style: none; box-sizing: border-box;}
a { text-decoration: none; color: var(--text-color); }
:root {
    --main-color: #0331aa;
    --sud-color: #eeeeee;
    --back-color: #ffffff;
    --text-color: #333333;
    --container-width: 100vw;
    --container-height: 100vh;
    --slide-width: calc(100vw - 200px);
    --slide-height: 400px;
}
body {
    background-color: var(--back-color);
    color: var(--text-color);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

/* 레이아웃 */
.container {
    position: relative;
    width: var(--container-width);
    margin: auto;
    display: grid;
    grid-template-columns: 200px calc(100vw - 200px);
    grid-template-rows: calc(400px + 200px + 250px);
}

